#navR{
	height:50px;
	background:#1c2635;
	color:white;
	line-height:50px;
	position:relative;
	h1{
		float:left;
		width:70px;
		padding-left:10px;
		margin-left:150px;
		img{
			width:80px;
		}
	}
	.iconfont{
		font-size:22px;
		position:absolute;
		left:10px;
		color:#fff;
		
	}
	
}

#section1{
	margin-top:40px;
	span{
		margin-left:20px;
		color:#666;
		a{
			color:#666;
			text-decoration:none;
		}
	}
	p{
		color:#666;
		margin-left:20px;
		margin-top:20px;
	}
}
